table.dataTable.no-footer td, table.dataTable.no-footer th {
    text-align: right;
}

table.dataTable.no-footer td {
    padding-right: 20px;
}

table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

//.dataTable > thead > tr > th[class*="sort"]::after{display: none}

.dataTables_scrollHeadInner:before {
    content: " ";
    position: absolute;
    right: 0px;
    background: #fff;
    top: 0;
    bottom: 0;
    width: 100%;
}

.dataTables_scrollBody {
    background: white;
     overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
